
.container--2 {
    position: fixed;
    background-color: #fff;
}

.banner {
    background-image: url(/assets/img/bg3.jpg);
}

.header-food {
    width: 80%;
    background-color: #ffffff;
    margin: auto;
    margin-top: -60px;
    z-index: 10;
    border-radius: 8px;
    box-shadow: 0 0.3rem 1.525rem -0.375rem rgba(0,0,0,0.1) !important;
}

.header-container {
    display: flex;
    align-items: center;
}

.header__img {
    width: 16%;
    height: 100%;
    border-radius: 8px;
}

.list__menu {
    display: flex;
}

.menu__link {
    list-style: none;
    margin: auto;
    padding: 0 20px;
}

.items__link {
    text-decoration: none;
    color:  #373f50;
}

.items__link:hover {
    color:  #fe6b6b;
}

.selected {
    color: #fe6b6b;
    padding-bottom: 16px;
    border-bottom: 2px solid #fe6b6b;
}

.list__item1 {
    width: 80%;
    margin: auto;
    height: 170vh;
}

.list__item1-header {
    text-align: center;
    margin-top: 60px;
}

.list__item1-header h3 {
    font-size: 2rem;
    color: #373f50;
}

.list__item1-container {
    margin: auto;
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.item1__link {
    width: 23%;
    margin-bottom: 50px;
    height: 445px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.item1__link:hover {
    box-shadow: 4px 4px 18px #ccc;
    border: none;
    transition: ease 0.5s;
}

.item1__img {
    width: 100%;
    border-radius: 8px;
}

.body__items {
    width: 80%;
    margin: auto;
}

.item1__linksp {
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    color: #373f50;
}

.item1__text {
    margin: 20px 0;
    font-size: 14px;
    color: #888b9f;
}

.item1__size {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.size__item {
    width: 31%;
    padding: 8px;
    font-size: 13px;
    color: #888b9f;
    background: transparent;
    border-radius: 3px;
    border: 0.5px solid #ccc;
    font-weight: 600;
}

.size__item:focus {
    color:#fe7c7d;
    outline-color: #fe7c7d;
}

.height__item:focus {
    color:#fe7c7d;
    outline-color: #fe7c7d;
}

.item1__height {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}

.height__item {
    width: 47%;
    padding: 8px;
    font-size: 13px;
    color: #888b9f;
    background: transparent;
    border-radius: 3px;
    border: 0.5px solid #ccc;
    font-weight: 600;
}

.item1__btn {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price {
    font-size: 14px;
    color:#5764cf;
    font-size: 15px;
    font-weight: 500;
}

.item1__btn-link {
    text-decoration: none;
    padding: 8px 18px;
    background-color: #fe696a;
    color: #ffffff;
    border-radius: 3px;
}

.item1__btn-link:hover {
    background-color:#fe4344;
    transition: ease-in 0.6s;
}